.login-page-wrapper {
  height: calc(100vh - 64px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-auth {
  width: 300px;
}

.card-container {
  position: relative;
  overflow: hidden;
  > .loading-bar {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.btn-login {
  margin-top: 100px;
}
