<div class="login-page-wrapper">
  <mat-card class="card-container">
    <mat-progress-bar
      *ngIf="loading"
      mode="indeterminate"
      class="loading-bar"
    ></mat-progress-bar>
    <form class="form-container form-auth" [formGroup]="form">
      <mat-form-field appearance="standard">
        <mat-label>電子郵件</mat-label>
        <input matInput type="email" email formControlName="email" />
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>密碼</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>
      <button
        mat-stroked-button
        color="primary"
        class="btn-ok"
        [disabled]="isLoginDisabled"
        (click)="login()"
      >
        登入
      </button>
    </form>
  </mat-card>
</div>
