<div class="login-page-wrapper">
  <mat-card>
    <form class="form-container form-auth" [formGroup]="form">
      <mat-form-field appearance="standard">
        <mat-label>電子郵件</mat-label>
        <input matInput email formControlName="email" />
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>密碼</mat-label>
        <input matInput password formControlName="password" />
      </mat-form-field>
      <button
        mat-stroked-button
        color="primary"
        class="btn-ok"
        (click)="submit()"
      >
        登入
      </button>
    </form>
  </mat-card>
</div>
