<h2 mat-dialog-title>修改櫃位</h2>
<div mat-dialog-content>
  <div class="function-wrapper">
    將會員
    <span class="text--bold">
      {{ data.lesseeInfo.memberNickname || data.lesseeInfo.memberName }}
    </span>
    {{ data.rented ? "移出" : "註冊至" }}
    <span class="text--bold">{{ data.storageInfo.ID.slice(1) }}</span>
    號櫃位，{{ data.rented ? "或延長租約" : "租期為" }}
    <!-- TODO:限制選項，僅有 1/3/6 可選 -->
    <input
      matInput
      type="number"
      min="1"
      max="6"
      (ngModelChange)="handleDurationChange()"
      [formControl]="duration"
    />
    個月。
  </div>
  <div class="date-line-wrapper" *ngIf="data.rented">
    <p class="date-line">開始日期：{{ data.storageInfo.startDate }}</p>
    <p class="date-line">結束日期：{{ data.storageInfo.endDate }}</p>
    <p class="date-line">延長日期：{{ extendDate ? extendDate : "-" }}</p>
  </div>
  <div class="date-line-wrapper" *ngIf="data.rented === false">
    <p class="date-line">開始日期：{{ startDate ? startDate : "-" }}</p>
    <p class="date-line">結束日期：{{ endDate ? endDate : "-" }}</p>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="error" (click)="onNoClick()">取消</button>
  <button
    mat-button
    *ngIf="data.rented === false"
    [mat-dialog-close]="createNewStorageInfo('add')"
    [disabled]="duration.value === null"
  >
    確定出租
  </button>
  <button
    *ngIf="data.rented"
    mat-button
    [mat-dialog-close]="createNewStorageInfo('remove')"
  >
    移出櫃位
  </button>
  <button
    *ngIf="data.rented"
    mat-button
    [mat-dialog-close]="createNewStorageInfo('extend')"
    [disabled]="duration.value === null"
  >
    延長租約
  </button>
</div>
