<h2 mat-dialog-title>修改櫃位</h2>
<div mat-dialog-content>
  <div *ngIf="data.rented === false" class="wrapper">
    為會員
    {{ data.lesseeInfo.memberNickname || data.lesseeInfo.memberName }} 註冊至
    {{ data.storageInfo.ID.slice(1) }} 號櫃位，租期為
    <input
      matInput
      type="number"
      min="1"
      max="6"
      (ngModelChange)="handleDurationChange()"
      [formControl]="duration"
    />
    個月。
  </div>
  <div *ngIf="data.rented" class="wrapper">
    將會員
    {{ data.lesseeInfo.memberNickname || data.lesseeInfo.memberName }} 移出
    {{ data.storageInfo.ID.slice(1) }} 號櫃位，或延長租約
    <input
      matInput
      type="number"
      min="1"
      max="6"
      (ngModelChange)="handleDurationChange()"
      [formControl]="duration"
    />
    個月。
  </div>
  <p class="start-date">開始日期：{{ startDate ? startDate : "-" }}</p>
  <p class="end-date">結束日期：{{ endDate ? endDate : "-" }}</p>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="onNoClick()">取消</button>
  <button
    mat-button
    *ngIf="data.rented === false"
    [mat-dialog-close]="createNewStorageInfo('add')"
    [disabled]="duration.value === '-'"
  >
    確定出租
  </button>
  <button
    *ngIf="data.rented"
    mat-button
    [mat-dialog-close]="createNewStorageInfo('remove')"
  >
    移出櫃位
  </button>
  <button
    *ngIf="data.rented"
    mat-button
    [mat-dialog-close]="createNewStorageInfo('extend')"
    [disabled]="duration.value === '-'"
  >
    延長租約
  </button>
</div>
