.btn-apply {
  margin-top: 40px;
  float: right;
}

.program-table {
  .mat-column-sort {
    width: 50px;
  }
}

.update-program {
  float: right;
}

.expiry-date-field {
  margin-left: 40px;
}

.storage-wrapper {
  display: flex;
  flex-direction: column;
}
.mat-button-toggle-group {
  border-bottom-width: 0;
  border-radius: 0;
  display: flex;
  &:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  &:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-width: 1px;
  }
  > .mat-button-toggle {
    flex: 1;
  }
}
