.btn-apply {
  margin-top: 40px;
  float: right;
}

.program-table .mat-column-sort {
  width: 50px;
}

.update-program {
  float: right;
}

.expiry-date-field {
  margin-left: 40px;
}

$red: #db4c77;
$blue: #4e88d3;
$smoke: #444;
.storage {
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__list {
    display: flex;
  }
  &__cell {
    margin-right: 10px;
    margin-bottom: 10px;
    flex: 1;
    color: $smoke;
    &.mat-primary {
      color: whitesmoke;
      .storage__num {
        color: whitesmoke;
      }
    }
  }
  &__num {
    position: absolute;
    top: -10px;
    left: 3px;
    font-size: 10px;
    color: $smoke;
  }
}
