.btn-apply {
  margin-top: 40px;
  float: right;
}

.program-table .mat-column-sort {
  width: 50px;
}

.update-program {
  float: right;
}

.expiry-date-field {
  margin-left: 40px;
}

.storage-wrapper {
  display: flex;
  flex-direction: column;
}

.storage-list {
  display: flex;
}

$smoke: #444;
.storage-num,
.storage-cell {
  color: $smoke;
  &.mat-primary {
    color: whitesmoke;
    .storage-num {
      color: whitesmoke;
    }
  }
}

.storage-cell {
  margin-right: 10px;
  margin-bottom: 10px;
  flex: 1;
}
.storage-num {
  position: absolute;
  top: -10px;
  left: 3px;
  font-size: 10px;
}

$red: #db4c77;
$blue: #4e88d3;
