<app-spinner [enable]="memberReady === false"></app-spinner>

<app-page-wrapper [hidden]="memberReady === false">
  <mat-form-field class="search-field">
    <mat-label>搜尋姓名、暱稱</mat-label>
    <input matInput #filter (keyup)="applyFilter($event)" />
  </mat-form-field>
  <div class="mat-elevation-z8">
    <table
      class="member-list-table"
      mat-table
      matSort
      [dataSource]="dataSource"
    >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>內環編號</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>名稱</th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>
      <ng-container matColumnDef="nickname">
        <th mat-header-cell *matHeaderCellDef>暱稱</th>
        <td mat-cell *matCellDef="let row">{{ row.nickname }}</td>
      </ng-container>
      <ng-container matColumnDef="lineId">
        <th mat-header-cell *matHeaderCellDef>Line ID</th>
        <td mat-cell *matCellDef="let row">{{ row.lineId }}</td>
      </ng-container>
      <ng-container matColumnDef="program">
        <th mat-header-cell *matHeaderCellDef>會籍</th>
        <td mat-cell *matCellDef="let row">
          <button mat-flat-button>{{ row.program }}</button>
        </td>
      </ng-container>
      <ng-container matColumnDef="expiryDate">
        <th mat-header-cell *matHeaderCellDef>會籍到期日</th>
        <td mat-cell *matCellDef="let row">
          {{ row.expiryDate }}
        </td> </ng-container
      >¡
      <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef>管理</th>
        <td mat-cell *matCellDef="let row">
          <button
            (click)="toMemberInfo(row.id)"
            mat-icon-button
            aria-label="Find more"
          >
            <mat-icon>manage_search</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
    <mat-paginator
      #paginator
      [length]="dataLength"
      [pageIndex]="0"
      [pageSize]="200"
    >
    </mat-paginator>
  </div>
  <button
    class="create-btn"
    mat-fab
    color="primary"
    aria-label="icon button for create member"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="toMemberCreate()">
      <mat-icon>add</mat-icon>新增會員
    </button>
    <button mat-menu-item (click)="showAlertSheet()">
      <mat-icon [matBadge]="alertList.length" matBadgeColor="warn"
        >campaign</mat-icon
      >櫃位與方案到期
    </button>
  </mat-menu>
</app-page-wrapper>
