@import "variables";

.search-field {
  width: 200px;
}

.create-btn {
  position: fixed;
  right: 10%;
  bottom: 5%;
}

.mat-flat-button {
  border-radius: 20px;
  &.danger {
    background-color: $red;
    color: whitesmoke;
  }
  &.staff {
    background-color: $staff;
    color: whitesmoke;
  }
  &.FM {
    background-color: $FM;
  }
  &.GG {
    background-color: $GG;
    color: whitesmoke;
  }
  &.EC {
    background-color: $EC;
    color: whitesmoke;
  }
  &.OC {
    background-color: $OC;
  }
  &.NEW {
    background-color: $GO;
    color: whitesmoke;
  }
}
