.app-header {
  position: fixed;
  top: 0;
  z-index: 2;
}

.app-sidenav-container {
  padding-top: 64px;
  height: 100vh;
}
.app-sidenav {
  padding-top: 64px;
  height: 100vh;
  width: 240px;
}

.toolbar-separator {
  flex: 1 1 auto;
}
