<mat-toolbar class="app-header">
  <button mat-icon-button (click)="sideNav.toggle()">
    <mat-icon>{{ sideNav.opened ? "close" : "menu" }}</mat-icon>
  </button>
  <span>{{ title | uppercase }}</span>
  <span class="toolbar-separator"></span>
</mat-toolbar>

<mat-sidenav-container class="app-sidenav-container" autosize>
  <mat-sidenav #sideNav class="app-sidenav" fixedTopGap="20" mode="side">
    <mat-nav-list>
      <a [routerLink]="['/', 'member-list']" mat-list-item>會員列表</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
