@import "@angular/material/prebuilt-themes/indigo-pink.css";

$main-color: #213a27;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-table {
  width: 100%;
}

.full-width-field {
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
}
