html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "微軟正黑體", "Microsoft JhengHei", Roboto, "Helvetica Neue",
    sans-serif !important;
}

.mat-table {
  width: 100%;
}

.full-width-field {
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.text {
  &--bold {
    font-weight: bold;
  }
}
