$red: #d32f2f;

.update-program,
.cancel-paid-program {
  float: right;
}
.cancel-paid-program {
  margin-right: 10px;
  &.mat-danger {
    background-color: $red;
    color: whitesmoke;
  }
}

.expiry-date-field {
  margin-left: 40px;
}
